* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%);
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

svg#canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#loader {
  position: fixed;
  width: 128px;
  height: 128px;
  background-color: #76C897;
  border-radius: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-64px, -64px);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0%   {
        transform: translate(-64px, -64px) rotate(0deg);
    }
    100% {
        transform: translate(-64px, -64px) rotate(360deg);
    }
}
